<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main</title>
</head>
<body>
    <div><h2>Hello, it is main page!</h2></div>
    <div><h3><a href="/login">Login </a>page</h3></div>
    <div><h3>New? <a href="/register">Register </a>page</h3></div>
</body>
</html>