<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
<body>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <h3>Hello, {{ usrname }}!</h3>
</form>
</body>
</html>